.logo{
  background: url('../img/front/logo.png') no-repeat 0px 0px;
  text-indent: -9999px;
  height: 80px;
  margin-top: 15px;
  width: 140px;
  float: left;
  position: absolute;
  top: -10px;
  left: 4%;
  z-index: 1212;
  transform: scale(0.8);
}
.title_login {
	margin: 0 auto;
	margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(187, 10, 10);
}
#login {
	text-align: center;
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
}
#login .user {
	width: 300px;
  height: 35px;
  color: #535353;
  margin-bottom: 6px;
  border-radius: 3px;
  border: 1px solid #A9A3A3;
  padding-left: 10px;
  display: inherit;
}
#login .pass {
	width: 300px;
  height: 35px;
  color: #535353;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #A9A3A3;
  padding-left: 10px;
}
.check {
	float: left;
    margin-bottom: 10px;
}
.check input[type=checkbox]{
	margin-right: 7px;
}
.check:after {
	clear: both;
	content: "";
}
.btn_login {
	width: 300px !important;
}
/*---------logout ---------------*/
.slide-top {
  width: 100%;
  height: 75px;
  background: #B6BDB6;
  position: fixed;
  z-index: 99;
}
.infor-admin {
  float: right;
  margin-right: 80px;
  margin-top: 20px;
}
.infor-admin .btn_logout {
  background: #3C763D;
  color: #fff;
}
.infor-admin .name_admin {
  margin-right: 50px;
  position: absolute;
  right: 155px;
  top: 27px;
  color: #fff;
}
/*--------Profile Page---------------*/
#wrap_content .menu {
  position: fixed;
  top: 66px;
  background: #fff;
  height: auto;
  padding: 0 !important;
}
.choose_list {
    margin: 0 auto;
    margin-top: 5%;
    padding: 0;
}
.choose_list li {
  list-style: none;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
}
.choose_list li:hover,
.choose_list li:focus,
.active{
  cursor: pointer;
  background: rgba(204, 220, 204, 0.66);
}
.choose_list li a {
  color: #388639 !important;
}
.choose_list li a:hover,
.choose_list li a:focus,
.choose_list li a:visited {
  text-decoration: none;
}
.choose_list .item_choose {
	text-align: center;
	height: 50px;
  line-height: 50px;
}
#wrap_content {
  min-width: 1200px;
  overflow: hidden;
}
.col-md-10 {
  margin-left: 210px;
}
#profile {
  padding: 0 !important;
  display: inline-block;
  width: 500px;
  margin: 80px 0 0 200px;
}
#profile #display_img {
  width: 365px;
  height: 292px;
  margin-left: 47px;
}
.hospital {
  text-align: center;
  color: #3c763d;
  font-size: 28px;
  font-weight: bold;
  margin-left: 95px;
  padding-top: 31px;
  padding-bottom: 45px;
  margin-top: 0;
  margin-bottom: 0;
}
#profile .name {
  display: block;
  float: left;
  margin-right: 50px;
  font-size: 16px;
  font-weight: bold;
}
#profile .ID {
  font-style: italic;
}
#profile .ID:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
#profile .btn_upload_photo {
  position: absolute;
  top: 13px;
  right: 5px;
}
#profile .input_choose {
  position: absolute;
  top: 12px;
  right: 5px;
  height: 34px;
  width: 39px;
  opacity: 0;
}
#profile .infor_profile {
  width: 250px;
  margin-left: 35px;
  margin-top: 20px;
}
#profile .infor_profile input {
  margin-bottom: 2px;
  width: 100%;
}
#profile .wrap_infor {
  color: #fff;
  background: rgb(103, 165, 103);
  padding: 30px 0 50px 145px;
  width: 600px;
  margin: 0 auto;
}
.btn_ {
  margin-top: 20px;
}
.btn_ .btn_edit_profile {
  width: 125px;
}
.btn_ .btn_ok {
  width: 120px;
}
/*quan ly tin tuc*/
#create_news .wrap_post .input_choose {
  margin: 15px 0 25px 0;
}
#create_news .wrap_post .form_create_news .post_img img {
    width: 400px;
    height: 230px;
}
#create_news .form_create_news {
  padding: 20px;
  display: inline-block;
  width: 1000px;
  margin-bottom: 50px;
  margin: 0 auto;
}
#create_news .form_create_news select,
#create_news .form_create_news textarea,
#create_news .form_create_news input,
#create_news .form_create_news .post_img {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#create_news .form_create_news .button {
  text-align: center;
}
#create_news .form_create_news .button .btn-primary a {
  color: #fff;
}
#create_news .form_create_news .button .btn-primary a:hover {
  text-decoration: none;
}
#create_news .form_create_news .button .btn-default a {
  color: #535353;
}
#create_news .form_create_news .button .btn-default a:hover {
  text-decoration: none;
}
#post_news .top_page_news {
  margin-bottom: 30px;
}
#post_news .wrap_list_news {
  width: 1200px;
}
#post_news .wrap_list_news .content_idea {
  width: 40%;
}
#post_news .wrap_list_news .title_news {
  width: 18%;
}
/*post information about Science------------*/
#manage_science .sciences {
  width: 500px;
  margin: 0 auto;
}
#manage_science .sciences textarea {
  height: 150px;
}
#manage_science .sciences .button {
  text-align: center;
  margin: 40px 0;
}
#manage_science table .infor {
  width: 32%;
}
#manage_science table .option {
  padding-left: 12px !important;
  width: 15%;
}
/* patients page ==============================*/
#patients {
  width: 100% !important;
}
#patients .set_room {
  font-weight: bold;
}
#patients .set_time
 {
  color: #ED9F2F;;
}
#patients .inputs {
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 50px;
}
#patients  .search_input {
  width: 200px;
  float: left;
  margin-right: 25px;
}
#post_news .search_input {
  width: 200px;
  float: left;
  margin-right: 25px;
}
#patients .btn_delete {
  font-size: 12px;
  padding: 5px 10px;
  background: #A50E0E;
  color: #fff;
  border: 1px solid #C8BEBE;
}
.btn_delete:hover,
.btn_delete:focus,
.btn_delete:visited {
  color: #fff !important;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/* edit patient---------------*/
#edit_patients .edit_patient ul li{
  margin: 0 auto;
  width: 400px;
  margin-bottom: 20px;
  list-style: none;
}
#edit_patients .edit_patient .button {
  margin: 0 auto;
  text-align: center;
}
#edit_patients .edit_patient .button .btn-primary a{
  color: #fff;
}
#edit_patients .edit_patient .button .btn-primary a:hover {
  text-decoration: none;
}
#edit_patients .edit_patient .button .btn-default a{
  color: #535353;
}
#edit_patients .edit_patient .button .btn-default a:hover {
  text-decoration: none;
}
/* tao thong tin khoa-----*/
.top_page_infor .search_input {
  width: 200px;
  float: left;
  margin-right: 25px;
}
.top_page_infor {
  margin-bottom: 30px;
}
#post_information .wrap_list_infor {
  width: 1300px;
}
.btn-primary a{
  color: #fff;
}
.btn-primary a:hover,
.btn_edit a:hover {
  text-decoration: none;
}
.btn_edit a{
  color: #fff;
}
#post_information .wrap_list_infor table .name_science {
  width: 15%;
}
#post_information .wrap_list_infor table .img_science {
  width: 17%;
}
#post_information .wrap_list_infor table .content_idea {
  width: 41%;
}
#post_information .wrap_list_infor table .img_science img {
  width: 190px;
  height: 145px;
}

/*phong kham-----------------*/
#room .room .inputs {
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 50px;
}
#room .room .search_input {
  width: 200px;
  float: left;
  margin-right: 25px;
}
#room .room .btn_edit {
  width: 80px;
}
#room .doctor {
  color: #ff0000;
  margin-bottom: 35px;
}
#room .doctor p {
  font-style: italic;
  float: left;
  margin-right: 10px;
}
#room .doctor span {
  font-weight: bold;
}
#room .doctor span:after {
  clear: both;
  content: "";
  height: 0;
  visibility: hidden;
}
#room table th,
#room table td {
  text-align: center;
}
#room table .status {
  padding-left: 0 !important;
}
/*----ideas-------*/
#ideas_infor {
  width: 100%;
}
#ideas_infor .search_input {
    width: 200px;
    float: left;
    margin-right: 25px;
}
#ideas_infor .inputs {
  margin-bottom: 30px;
}
#ideas_infor .content_idea {
  width: 23%;
}
.name_room {
  margin: 0 0 15px 0 !important;
  color: #CA0A0A;
  font-weight: bold;
}
.option {
  padding-left: 37px !important;
  width: 19%;
}
.status {
  padding-left: 4.5% !important;
}
.btn_edit {
  font-size: 12px;
  padding: 5px 8px;
  background: #428bca;
  color: #fff;
  float: left;
  margin-right: 4px;
  border: 1px solid #C8BEBE;
}
.btn_edit:hover,
.btn_edit:focus,
.btn_edit:visited {
  color: #fff !important;
}
.btn_delete {
  font-size: 12px;
  padding: 5px 10px;
  background: #A50E0E;
  color: #fff;
  border: 1px solid #C8BEBE;
}
#patients .option {
  padding-left: 23px !important;
  width: 9%;
}
/*edit ideas -----------------*/
#edit_ideas .edit_idea,
#create_room .create_new_room,
#edit_room .edit_new_room  {
  margin: 0 auto;
  width: 500px;
}
#edit_ideas .edit_idea ul li,
#create_room .create_new_room ul li,
#edit_room .edit_new_room ul li{
  list-style: none;
  margin-bottom: 20px;
}
#edit_ideas .edit_idea .button,
#create_room .create_new_room .button,
#edit_room .edit_new_room .button {
  text-align: center;
}
#edit_ideas .edit_idea .button .btn-primary a,
#create_room .create_new_room .button .btn-primary a,
#edit_room .edit_new_room .button .btn-primary a{
  color: #fff;
}
#edit_ideas .edit_idea .button .btn-primary a:hover,
#create_room .create_new_room .button .btn-primary a:hover,
#edit_room .edit_new_room .button .btn-primary a:hover {
  text-decoration: none;
}
#edit_ideas .edit_idea .button .btn-default a,
#create_room .create_new_room .button .btn-default a,
#edit_room .edit_new_room .button .btn-default a{
  color: #535353;
}
#edit_ideas .edit_idea .button .btn-default a:hover,
#create_room .create_new_room .button .btn-default a:hover,
#edit_room .edit_new_room .button .btn-default a:hover {
  text-decoration: none;
}
/*them loai tin-------*/
#kind_of_news .kind_of_news {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}
#kind_of_news input,
#kind_of_news select {
  margin-bottom: 20px;
}
#kind_of_news .button{
  margin: 20px 0 45px 0;
}
#kind_of_news table{
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
#kind_of_news table th {
  text-align: center;
}
#kind_of_news table .show_icon {
  width: 22%;
}
#kind_of_news table .wrap_img {
  width: 150px;
  height: 90px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}
#kind_of_news table .wrap_img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
#kind_of_news table .option {
  width: 20%;
}
#kind_of_news table .option .btn_edit {
  font-size: 12px;
  padding: 5px 8px;
  background: #428bca;
  color: #fff;
  float: left;
  border: 1px solid #C8BEBE;
  margin-left: -18px;
}
/* quan ly tin tuc ------*/
#manage_news  {
  width: 100%;
}
#manage_news .search_input {
    width: 200px;
    float: left;
    margin-right: 25px;
}
#manage_news .top_page_news {
  margin-bottom: 30px;
}
#manage_news table .content_news {
  width: 23%;
}
#manage_news table .title_news {
  width: 15%;
}
#manage_news table .option {
  width: 14%;
}
/* quan ly thong tin benh vien --------------------*/
#infor_hospital {
  width: 100%;
}
#infor_hospital .infor_hospital {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}
#infor_hospital input,
#infor_hospital textarea {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 20px;
}
#infor_hospital textarea {
  height: 150px;
}
#infor_hospital .button{
  margin: 20px 0 45px 0;
}
#infor_hospital table{
  margin: 0 auto;
  width: 100%;
}
#infor_hospital table th {
  text-align: center;
}
#infor_hospital table .option {
  width: 14%;
}
#infor_hospital table .option .btn_edit {
  margin-left: -30px;
}
#infor_hospital table .infor {
  width: 28%;
}
/*list room--------------*/
#list_room .list_room .inputs {
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 50px;
}
#list_room .list_room .search_input {
  width: 200px;
  float: left;
  margin-right: 25px;
}
#list_room .list_room .btn_edit {
  width: 80px;
}
/* thong tin kham ------*/
#create_infor_science {
  width: 100%;
}
#create_infor_science .pull-right {
  position: absolute;
  margin-left: 10px;
}